# CitiBike Accident Prediction

We need to transform the CitiBike and NYPD datasets into a structured format where we can predict the likelihood of a CitiBike accident. Below is a step-by-step breakdown of how we should engineer meaningful features.

# Step 1: Define the Prediction Goal
- We want to predict the probability of an accident for a CitiBike trip.

- Target Variable (accident_risk): Binary (1 = Accident, 0 = No Accident).
- How to define an accident? → If a CitiBike trip starts or ends near an accident location, it's classified as an accident-prone ride.

 
# Step 2: Feature Engineering
We will extract features from both datasets to enrich CitiBike trip records.

## CitiBike Features
Time-Based Features 

- hour_of_day: Extracted from started_at
- day_of_week: Extracted from started_at (0 = Monday, 6 = Sunday)
- weekend: Boolean flag (1 = Weekend, 0 = Weekday)
- season: Winter, Spring, Summer, Fall (Derived from started_at)
- rush_hour: Boolean flag (1 = Peak commuting hours, 0 = Off-peak)
- Trip-Based Features 

- trip_duration: Difference between ended_at and started_at
- trip_distance: Approximate using Haversine formula between start_lat, start_lng and end_lat, end_lng
- member_casual: Encoded (0 = Casual, 1 = Member)
- rideable_type: One-hot encode different bike types (e.g., classic, electric)
- Geographical Features

- start_accident_count: Number of accidents within 100m radius of start_lat, start_lng
- end_accident_count: Number of accidents within 100m radius of end_lat, end_lng
- start_high_risk: Boolean flag (1 = High accident zone, 0 = Safe zone)
- end_high_risk: Boolean flag (1 = High accident zone, 0 = Safe zone)

## NYPD Features
Accident Severity Features 

- cyclist_injured: Number of cyclists injured (NUMBER OF CYCLIST INJURED)
- cyclist_killed: Number of cyclist fatalities (NUMBER OF CYCLIST KILLED)
- total_injuries: Sum of all injuries in the accident (NUMBER OF PERSONS INJURED)
- total_fatalities: Sum of all fatalities in the accident (NUMBER OF PERSONS KILLED)

Location-Based Features 

- borough: Categorical encoding (One-hot encoding)
- zip_code: Categorical encoding (One-hot encoding)
- high_risk_area: Boolean flag (1 = More than X accidents in the region)
- Time-Based Features

- crash_hour: Extracted from CRASH TIME
- crash_weekend: Boolean flag (1 = Weekend, 0 = Weekday)
- crash_rush_hour: Boolean flag (1 = Peak traffic hours)
- Accident Cause Features 🚗

- contributing_factor_vehicle_1: One-hot encoding of CONTRIBUTING FACTOR VEHICLE 1
- contributing_factor_vehicle_2: One-hot encoding of CONTRIBUTING FACTOR VEHICLE 2
- vehicle_type_code_1: One-hot encoding of VEHICLE TYPE CODE 1


# Step 3: Data Merging

We need to merge CitiBike data with NYPD accident data using:

Time proximity: CitiBike started_at should be within X minutes of an accident’s CRASH DATE + CRASH TIME
Location proximity: CitiBike start_lat, start_lng should be within 100m of an accident's LATITUDE, LONGITUDE

How?

Use KDTree for fast geospatial lookups (like before).
Filter by date and time to ensure the accident is relevant.

# Citybike dataset

In [15]:
import pandas as pd
import numpy as np
from datetime import datetime
from geopy.distance import geodesic

# Load CitiBike data
citibike_df = pd.read_csv("/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/processed/cleaned_citibike_data.csv")

# Convert 'started_at' and 'ended_at' to datetime format
citibike_df['started_at'] = pd.to_datetime(citibike_df['started_at'])
citibike_df['ended_at'] = pd.to_datetime(citibike_df['ended_at'])

# Time-Based Features**
citibike_df["hour_of_day"] = citibike_df["started_at"].dt.hour
citibike_df["day_of_week"] = citibike_df["started_at"].dt.dayofweek  # Monday = 0, Sunday = 6
citibike_df["weekend"] = (citibike_df["day_of_week"] >= 5).astype(int)  # 1 = Weekend, 0 = Weekday
# Classify rush hour: 1 = Rush hour, 0 = Non-rush hour
# Rush hour is typically considered:
# - Morning: 7 AM to 9 AM (commuters going to work)
# - Evening: 4 PM to 7 PM (commuters returning home)

citibike_df["rush_hour"] = np.where(
    ((citibike_df["hour_of_day"] >= 7) & (citibike_df["hour_of_day"] <= 9)) | 
    ((citibike_df["hour_of_day"] >= 16) & (citibike_df["hour_of_day"] <= 19)), 
    1,  # Rush Hour
    0   # Non-Rush Hour
)

# Trip-Based Features**
citibike_df["trip_duration"] = (citibike_df["ended_at"] - citibike_df["started_at"]).dt.total_seconds() / 60  # Convert to minutes

# Compute distance using geodesic distance
def compute_distance(row):
    return geodesic((row["start_lat"], row["start_lng"]), (row["end_lat"], row["end_lng"])).km

citibike_df["trip_distance"] = citibike_df.apply(compute_distance, axis=1)

# One-hot encoding categorical features
citibike_df["member_casual"] = citibike_df["member_casual"].map({"member": 1, "casual": 0})  # Encode membership
# Convert 'rideable_type' into a single binary column (1 = electric, 0 = classic)
citibike_df["rideable_type"] = citibike_df["rideable_type"].map({"electric_bike": 1, "classic_bike": 0})

# Geographical Features**
citibike_df["start_coordinates"] = list(zip(citibike_df["start_lat"], citibike_df["start_lng"]))
citibike_df["end_coordinates"] = list(zip(citibike_df["end_lat"], citibike_df["end_lng"]))

# the dataset I have selected is citybike 01.2025 and hence everything is in wintr. so it makes sense not introducing the column, but we must consider if we use the complete dataset

# Drop unnecessary columns
citibike_features = citibike_df.drop(columns=["ride_id", "started_at", "ended_at", 
                                              "start_station_name", "end_station_name", 
                                              "start_station_id", "end_station_id" ])

/var/folders/tw/yc01l_99601d14ks8nxwg1dr0000gn/T/ipykernel_93260/1053066854.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_df = pd.read_csv("/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/processed/cleaned_citibike_data.csv")

In [16]:
citibike_features.columns

Index(['rideable_type', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'hour_of_day', 'day_of_week', 'weekend', 'rush_hour',
       'trip_duration', 'trip_distance', 'start_coordinates',
       'end_coordinates'],
      dtype='object')

In [17]:
citibike_features

,rideable_type,start_lat,start_lng,end_lat,end_lng,member_casual,hour_of_day,day_of_week,weekend,rush_hour,trip_duration,trip_distance,start_coordinates,end_coordinates
0,1,40.752149,-73.989539,40.744876,-73.995299,1,22,2,0,0,4.442917,0.942805,"(40.752149, -73.989539)","(40.74487634, -73.99529885)"
1,1,40.738290,-73.990060,40.744876,-73.995299,1,15,3,0,0,5.585767,0.854840,"(40.73829, -73.99006)","(40.74487634, -73.99529885)"
2,1,40.745248,-73.947333,40.763359,-73.928647,1,12,2,0,0,8.616567,2.556361,"(40.74524768, -73.94733276)","(40.7633589, -73.9286471)"
3,1,40.738290,-73.990060,40.744876,-73.995299,1,13,1,0,0,5.089867,0.854840,"(40.73829, -73.99006)","(40.74487634, -73.99529885)"
4,1,40.812299,-73.920370,40.792327,-73.938300,1,7,0,0,1,8.680650,2.684817,"(40.812299, -73.92037)","(40.7923272, -73.9383)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2119676,0,40.759604,-73.927144,40.761149,-73.917007,1,14,4,0,0,6.917867,0.872972,"(40.759604471387945, -73.92714411020279)","(40.7611488, -73.9170071)"
2119677,1,40.712628,-73.960575,40.719156,-73.948854,1,20,2,0,0,4.015833,1.227322,"(40.712628, -73.960575)","(40.71915571696044, -73.94885390996933)"
2119678,1,40.735324,-73.998004,40.733424,-74.008515,0,15,1,0,0,2.683867,0.912599,"(40.73532427, -73.99800419)","(40.73342399437081, -74.00851495563984)"
2119679,1,40.794990,-73.933330,40.773914,-73.954395,1,9,6,1,1,10.173150,2.939312,"(40.79499, -73.93333)","(40.77391390238118, -73.9543953537941)"
2119680,0,40.735324,-73.998004,40.733424,-74.008515,1,16,1,0,1,5.618850,0.912599,"(40.73532427, -73.99800419)","(40.73342399437081, -74.00851495563984)"

In [18]:
# Save cleaned CitiBike dataset
citibike_features.to_csv("/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/model_data/citibike_features.csv", index=False)

# NYPD Dataset

In [20]:
import pandas as pd
import numpy as np

# Load NYPD accident data
nypd_df = pd.read_csv("/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/processed/nypd_data_cleaned.csv")  # Replace with actual path

# Convert 'CRASH DATE' and 'CRASH TIME' to datetime format
nypd_df["CRASH_DATETIME"] = pd.to_datetime(nypd_df["CRASH DATE"] + " " + nypd_df["CRASH TIME"])

# 1️⃣ **Time-Based Features**
nypd_df["hour_of_day"] = nypd_df["CRASH_DATETIME"].dt.hour
nypd_df["day_of_week"] = nypd_df["CRASH_DATETIME"].dt.dayofweek  # Monday = 0, Sunday = 6
nypd_df["weekend"] = (nypd_df["day_of_week"] >= 5).astype(int)  # 1 = Weekend, 0 = Weekday

# Define Rush Hour (Same logic as CitiBike)
nypd_df["rush_hour"] = np.where(
    ((nypd_df["hour_of_day"] >= 7) & (nypd_df["hour_of_day"] <= 9)) | 
    ((nypd_df["hour_of_day"] >= 16) & (nypd_df["hour_of_day"] <= 19)), 
    1,  # Rush Hour
    0   # Non-Rush Hour
)

# Location-Based Features
# Encode borough names into numeric values
nypd_df["borough_encoded"] = pd.factorize(nypd_df["BOROUGH"])[0]  # -1 means missing value
nypd_df["accident_coordinates"] = list(zip(nypd_df["LATITUDE"], nypd_df["LONGITUDE"]))

# 3️Accident Severity Features**
nypd_df["total_injuries"] = (
    nypd_df["NUMBER OF PERSONS INJURED"] + 
    nypd_df["NUMBER OF PEDESTRIANS INJURED"] + 
    nypd_df["NUMBER OF CYCLIST INJURED"] + 
    nypd_df["NUMBER OF MOTORIST INJURED"]
)

nypd_df["total_fatalities"] = (
    nypd_df["NUMBER OF PERSONS KILLED"] + 
    nypd_df["NUMBER OF PEDESTRIANS KILLED"] + 
    nypd_df["NUMBER OF CYCLIST KILLED"] + 
    nypd_df["NUMBER OF MOTORIST KILLED"]
)

nypd_df["cyclist_injuries_ratio"] = np.where(nypd_df["total_injuries"] > 0, 
                                             nypd_df["NUMBER OF CYCLIST INJURED"] / nypd_df["total_injuries"], 
                                             0)

nypd_df["cyclist_fatalities_ratio"] = np.where(nypd_df["total_fatalities"] > 0, 
                                               nypd_df["NUMBER OF CYCLIST KILLED"] / nypd_df["total_fatalities"], 
                                               0)

In [21]:
# Drop unnecessary columns
nypd_features = nypd_df.drop(columns=["CRASH DATE", "CRASH TIME", "CRASH_DATETIME", 
                                      "ZIP CODE", "ON STREET NAME","LOCATION"])

In [53]:
nypd_features

,BOROUGH,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,...,hour_of_day,day_of_week,weekend,rush_hour,borough_encoded,accident_coordinates,total_injuries,total_fatalities,cyclist_injuries_ratio,cyclist_fatalities_ratio
0,BROOKLYN,40.621790,-73.970024,1.0,0.0,0,0,0,0,1,...,1,2,0,0,0,"(40.62179, -73.970024)",2.0,0.0,0.0,0.0
1,BROOKLYN,40.667202,-73.866500,0.0,0.0,0,0,0,0,0,...,9,5,1,1,0,"(40.667202, -73.8665)",0.0,0.0,0.0,0.0
2,BROOKLYN,40.683304,-73.917274,0.0,0.0,0,0,0,0,0,...,8,1,0,1,0,"(40.683304, -73.917274)",0.0,0.0,0.0,0.0
3,BRONX,40.868160,-73.831480,2.0,0.0,0,0,0,0,2,...,8,1,0,1,1,"(40.86816, -73.83148)",4.0,0.0,0.0,0.0
4,BROOKLYN,40.671720,-73.897100,0.0,0.0,0,0,0,0,0,...,21,1,0,0,0,"(40.67172, -73.8971)",0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437812,QUEENS,40.712820,-73.903770,0.0,0.0,0,0,0,0,0,...,0,3,0,0,3,"(40.71282, -73.90377)",0.0,0.0,0.0,0.0
1437813,BRONX,40.826202,-73.821680,1.0,0.0,0,0,0,0,1,...,10,4,0,0,1,"(40.826202, -73.82168)",2.0,0.0,0.0,0.0
1437814,QUEENS,40.765380,-73.911430,0.0,0.0,0,0,0,0,0,...,0,2,0,0,3,"(40.76538, -73.91143)",0.0,0.0,0.0,0.0
1437815,QUEENS,40.765377,-73.889050,1.0,0.0,1,0,0,0,0,...,8,4,0,1,3,"(40.765377, -73.88905)",2.0,0.0,0.0,0.0
1437816,BROOKLYN,40.668686,-73.899864,0.0,0.0,0,0,0,0,0,...,10,2,0,0,0,"(40.668686, -73.899864)",0.0,0.0,0.0,0.0

In [23]:
# Save cleaned nypd_features dataset
nypd_features.to_csv("/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/model_data/nypd_features.csv", index=False)

# Step 1: Train the NYPD Accident Prediction Model
We'll create a model that predicts accident risk based on location, time, and accident history.

## Preprocessing the NYPD Data
Convert date & time to datetime.
Extract hour, day of the week, and weekend flag.
Categorize accidents into "High-Risk", "Medium-Risk", and "Low-Risk" zones.
Use spatial clustering (DBSCAN) to group high-risk accident locations.

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

# Load preprocessed NYPD accident data
nypd_accidents = nypd_features.copy()

# Selecting relevant features
features = [
    "LATITUDE", "LONGITUDE", "hour_of_day", "day_of_week", "weekend", "rush_hour",
    "borough_encoded", "total_injuries", "total_fatalities",
    "cyclist_injuries_ratio", "cyclist_fatalities_ratio"
]

target = "accident_severity"  # Define accident severity as the target

# Define severity as binary classification (1 = High-Risk, 0 = Low-Risk) if total injury > 0
nypd_accidents["accident_severity"] = np.where(nypd_accidents["total_injuries"] > 0, 1, 0)

# Drop NaN values for modeling
nypd_accidents = nypd_accidents.dropna(subset=features)

In [28]:
# Standardize numerical features for better model performance (normalization)
scaler = StandardScaler()
nypd_accidents[features] = scaler.fit_transform(nypd_accidents[features])

In [29]:
nypd_accidents[features]

,LATITUDE,LONGITUDE,hour_of_day,day_of_week,weekend,rush_hour,borough_encoded,total_injuries,total_fatalities,cyclist_injuries_ratio,cyclist_fatalities_ratio
0,-1.301753,-0.619143,-2.152210,-0.471371,-0.585638,-0.804348,-1.207403,1.035105,-0.034374,-0.179498,-0.011039
1,-0.716753,0.667031,-0.748623,1.067128,1.707538,1.243242,-1.207403,-0.446849,-0.034374,-0.179498,-0.011039
2,-0.509327,0.036219,-0.924072,-0.984204,-0.585638,1.243242,-1.207403,-0.446849,-0.034374,-0.179498,-0.011039
3,1.871996,1.102116,-0.924072,-0.984204,-0.585638,1.243242,-0.432286,2.517059,-0.034374,-0.179498,-0.011039
4,-0.658552,0.286859,1.356756,-0.984204,-0.585638,-0.804348,-1.207403,-0.446849,-0.034374,-0.179498,-0.011039
...,...,...,...,...,...,...,...,...,...,...,...
1437812,-0.129100,0.203991,-2.327658,0.041462,-0.585638,-0.804348,1.117950,-0.446849,-0.034374,-0.179498,-0.011039
1437813,1.331491,1.223871,-0.573175,0.554295,-0.585638,-0.804348,-0.432286,1.035105,-0.034374,-0.179498,-0.011039
1437814,0.547980,0.108824,-2.327658,-0.471371,-0.585638,-0.804348,1.117950,-0.446849,-0.034374,-0.179498,-0.011039
1437815,0.547941,0.386871,-0.924072,0.554295,-0.585638,1.243242,1.117950,1.035105,-0.034374,-0.179498,-0.011039
1437816,-0.697636,0.252519,-0.573175,-0.471371,-0.585638,-0.804348,-1.207403,-0.446849,-0.034374,-0.179498,-0.011039

In [32]:
nypd_accidents[target]

0          1
1          0
2          0
3          1
4          0
          ..
1437812    0
1437813    1
1437814    0
1437815    1
1437816    0
Name: accident_severity, Length: 1437817, dtype: int64

In [30]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    nypd_accidents[features], nypd_accidents[target], test_size=0.2, random_state=42
)

# Train a Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=200, max_depth=10, random_state=42, class_weight="balanced")
rf_model.fit(X_train, y_train)

RandomForestClassifier(class_weight='balanced', max_depth=10, n_estimators=200,
                       random_state=42)

In [31]:
# Predict & evaluate
y_pred = rf_model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    221156
           1       1.00      1.00      1.00     66408

    accuracy                           1.00    287564
   macro avg       1.00      1.00      1.00    287564
weighted avg       1.00      1.00      1.00    287564

In [ ]:
#New Plan for CitiBike Risk Scoring
#Use KDTree for efficient nearest-neighbor search.
# #Count the number of accidents within 100m (0.001 degrees) of each CitiBike station.
# Apply a weighted scoring system:

#Give higher weights to accidents with fatalities.
#Give medium weights to accidents with serious injuries.
#Give lower weights to minor accidents. 
# Normalize risk scores so they are in a usable range (e.g., 0-10 or 0-100). 
# Assign the final risk score to each CitiBike station.

In [65]:
import numpy as np
from scipy.spatial import cKDTree

# Filter only cyclist-related accidents
nypd_cyclist_accidents = nypd_df[
    (nypd_df["NUMBER OF CYCLIST INJURED"] > 0) | 
    (nypd_df["NUMBER OF CYCLIST KILLED"] > 0)
]

# Convert coordinates to numpy arrays for KDTree
accident_coords = np.array(list(zip(nypd_features["LATITUDE"], nypd_features["LONGITUDE"])))
station_coords = np.array(list(zip(citibike_features["start_lat"], citibike_features["start_lng"])))

# Build KDTree for fast lookup
accident_tree = cKDTree(accident_coords)

# Define search radius (in degrees, approx. 100m = 0.001 degrees)
search_radius = 0.001

# Find nearby accidents for each CitiBike station
accidents_near_station = accident_tree.query_ball_point(station_coords, search_radius)

accidents_near_station

array([list([864, 18317, 22406, 25949, 36038, 39369, 43710, 47332, 54004, 58713, 59200, 65749, 66915, 67604, 72629, 80737, 81617, 82941, 87502, 87700, 88242, 89627, 89814, 95844, 96986, 101603, 107200, 116273, 117882, 118499, 118764, 119271, 120025, 121609, 127497, 130192, 133095, 134713, 136942, 142823, 146161, 150383, 151068, 156539, 157279, 163431, 164643, 166024, 167425, 174267, 178489, 185171, 188932, 199101, 202360, 202420, 203919, 210606, 226249, 236081, 241204, 262648, 271539, 273908, 282837, 285633, 293775, 307482, 311511, 318547, 319632, 321247, 323230, 323596, 328528, 329897, 332797, 333723, 334038, 340563, 350110, 353288, 355325, 356541, 358499, 362913, 365701, 382563, 382806, 383491, 384101, 385645, 385844, 386918, 387953, 392623, 396128, 401168, 410408, 410980, 411450, 416108, 419972, 420603, 421033, 423290, 428734, 436277, 436962, 443981, 447334, 448730, 450637, 455995, 456104, 458652, 461359, 470988, 474134, 479166, 493663, 497200, 497662, 500867, 504096, 508254, 512441, 514617, 515825, 516904, 522716, 522880, 524209, 524696, 527286, 529500, 533261, 534669, 538092, 538686, 541239, 541539, 542465, 543480, 543942, 545623, 547917, 551101, 551293, 556229, 560503, 562306, 563262, 563919, 566327, 566972, 569958, 571770, 580650, 581480, 584078, 585539, 588668, 588951, 588954, 589779, 594128, 597986, 598826, 599044, 600035, 600560, 601450, 602520, 605462, 605704, 608664, 611114, 611152, 611801, 614785, 616047, 619665, 620139, 620168, 621439, 624260, 625549, 627468, 627653, 630198, 632177, 632692, 634182, 634282, 634345, 637398, 640621, 641692, 644053, 645010, 646862, 648471, 652680, 652748, 653661, 657534, 661512, 664309, 665949, 666462, 667664, 670790, 674107, 675150, 677198, 677927, 680945, 683983, 686625, 686910, 687811, 690036, 696210, 698663, 702444, 712392, 712452, 713937, 731927, 733548, 734225, 736232, 739376, 740718, 746172, 747228, 751996, 754381, 755330, 757169, 760591, 764986, 765844, 768256, 769921, 770371, 773819, 775641, 776177, 789141, 789454, 793014, 793955, 796497, 803332, 810793, 811838, 816247, 817374, 817612, 822202, 824473, 825760, 826368, 826473, 826541, 826891, 827654, 828847, 829600, 832866, 835456, 835559, 836766, 838919, 841782, 843065, 844255, 844366, 844782, 844985, 845369, 847671, 850276, 850678, 850723, 850734, 855416, 856082, 857838, 859771, 861324, 862678, 862845, 863264, 863377, 863436, 871189, 874316, 875228, 876587, 879195, 880047, 880988, 881771, 882624, 883320, 884676, 889979, 890103, 891173, 891788, 892037, 893409, 895821, 896859, 903001, 904360, 905147, 905157, 906307, 907086, 907863, 908564, 909384, 912130, 913797, 914930, 916369, 919258, 920305, 922215, 923354, 923547, 923959, 925663, 925708, 926423, 926633, 928102, 928286, 928315, 929290, 929346, 930243, 931416, 932406, 933330, 936708, 940173, 944905, 946277, 949612, 953456, 953461, 955761, 956765, 960106, 961767, 965079, 966372, 968160, 968969, 969005, 969785, 971319, 971394, 975076, 975314, 976727, 977790, 978568, 978767, 987924, 988658, 988881, 991853, 992857, 994480, 995765, 997297, 999337, 999534, 1000025, 1001286, 1001643, 1002130, 1005203, 1008627, 1009140, 1010601, 1012965, 1014039, 1018557, 1019740, 1020706, 1021649, 1022099, 1022199, 1022470, 1023077, 1024511, 1025136, 1025187, 1025450, 1026245, 1026594, 1027286, 1028746, 1034363, 1035859, 1037211, 1037298, 1040455, 1042260, 1044079, 1044203, 1045105, 1046495, 1048733, 1054438, 1054555, 1055795, 1056733, 1057468, 1058354, 1060577, 1060649, 1065331, 1065405, 1065804, 1067006, 1067276, 1069872, 1072235, 1073772, 1073879, 1077208, 1078130, 1078576, 1078745, 1078855, 1079573, 1079846, 1081748, 1082155, 1082680, 1082916, 1085512, 1086088, 1087256, 1087609, 1090170, 1092231, 1097707, 1097947, 1098555, 1098826, 1099451, 1099870, 1100653, 1103245, 1103351, 1104290, 1104532, 1104542, 1106359, 1106399, 1107473, 1107737, 1108070, 1108188, 1109161, 1109253, 1110219, 1110744, 1110897, 1110990, 1111931, 1112168, 1112322, 1113527, 1115075, 1115079, 1115563, 1116099, 1117164, 1117611, 1118397, 1118625, 1119332, 1122362, 1123905, 1124246, 1127071, 1128226, 1128492, 1129565, 1130220, 1130407, 1130566, 1132807, 1133228, 1133990, 1134287, 1135547, 1142558, 1143318, 1146085, 1150081, 1150367, 1153687, 1155049, 1157394, 1157980, 1160816, 1161119, 1161486, 1161863, 1161927, 1162918, 1163922, 1163978, 1164188, 1165347, 1165744, 1168298, 1172430, 1173406, 1174657, 1174953, 1176091, 1180835, 1184680, 1185391, 1186413, 1189769, 1190176, 1190339, 1192437, 1193338, 1194040, 1197174, 1198989, 1202117, 1205664, 1206473, 1206613, 1206706, 1209917, 1214679, 1215290, 1215566, 1218744, 1219152, 1219282, 1220728, 1222386, 1222582, 1224755, 1226182, 1227751, 1230289, 1231892, 1232038, 1235635, 1235730, 1238114, 1238310, 1239076, 1240987, 1241787, 1241889, 1246256, 1246781, 1247727, 1249421, 1249991, 1250316, 1251314, 1251933, 1257248, 1260686, 1262474, 1267209, 1267543, 1269522, 1270182, 1270261, 1271078, 1273100, 1273453, 1274161, 1280261, 1281805, 1282002, 1282740, 1284556, 1285167, 1286836, 1287335, 1290347, 1293855, 1294371, 1294886, 1296401, 1296516, 1297466, 1299893, 1300753, 1301362, 1301858, 1302008, 1302234, 1302416, 1303919, 1303991, 1304535, 1305932, 1307018, 1307218, 1307461, 1308442, 1308487, 1311626, 1313381, 1313733, 1318483, 1319622, 1320042, 1320836, 1321879, 1322634, 1325930, 1326015, 1326022, 1326156, 1327180, 1335468, 1336786, 1337315, 1337524, 1338331, 1339675, 1340122, 1344483, 1345171, 1348635, 1352665, 1353729, 1354068, 1358176, 1359749, 1360681, 1362771, 1363353, 1364946, 1365754, 1367791, 1369347, 1373260, 1374167, 1374551, 1375442, 1376210, 1377192, 1379252, 1382090, 1382946, 1383114, 1385614, 1390059, 1390406, 1390745, 1393499, 1394718, 1395846, 1396882, 1397210, 1400643, 1403641, 1408170, 1410941, 1412377, 1413831, 1421302, 1425194, 1427170, 1429056, 1430853, 1433066, 1434271, 1437526]),
       list([2877, 69499, 77689, 93901, 119690, 151711, 169516, 173986, 189514, 211012, 235495, 253803, 263479, 265862, 289711, 302252, 327181, 327656, 333816, 336047, 344101, 353292, 357814, 360183, 364689, 384590, 386238, 387425, 394118, 394977, 420698, 430080, 435335, 446384, 451687, 468524, 468802, 478051, 489025, 491201, 492137, 530269, 534493, 541831, 557730, 567056, 637537, 655551, 685710, 685874, 698667, 712041, 719104, 719542, 719697, 723066, 723655, 729227, 736814, 743636, 749904, 753721, 761474, 785510, 799193, 811339, 818429, 825144, 827056, 829395, 844646, 866854, 873197, 875486, 884502, 886398, 896891, 896925, 899300, 909291, 913923, 921688, 925894, 926212, 932737, 942434, 953430, 957086, 962514, 976885, 982664, 985665, 992340, 992800, 994656, 996770, 996979, 998056, 1000531, 1005867, 1009793, 1018559, 1026712, 1030714, 1034264, 1034961, 1043976, 1044273, 1047723, 1050618, 1057714, 1059888, 1060666, 1097210, 1101080, 1102769, 1108050, 1109923, 1127744, 1127876, 1131391, 1137154, 1144618, 1149848, 1167629, 1168177, 1178261, 1197877, 1204737, 1213281, 1222632, 1231077, 1255262, 1255595, 1258713, 1260241, 1262026, 1269860, 1271020, 1273452, 1274194, 1298477, 1300933, 1311877, 1312953, 1322551, 1323331, 1328203, 1329601, 1391308, 1399919, 1410681, 1413163, 1414493, 1416822, 1427155]),
       list([14606, 60736, 75959, 140732, 157517, 161375, 185935, 188718, 194629, 216396, 238772, 246269, 255691, 275308, 312050, 316426, 340382, 354741, 387977, 398025, 407136, 412278, 475895, 480554, 519158, 531018, 538099, 539606, 555850, 577223, 597280, 605133, 608742, 619142, 620790, 628920, 632072, 636202, 652403, 666037, 714164, 722353, 760516, 805805, 808470, 842539, 856153, 865863, 876134, 877096, 877828, 900431, 936043, 945522, 969640, 1040632, 1041365, 1056595, 1090714, 1091336, 1092084, 1096894, 1096989, 1111039, 1116682, 1156389, 1165772, 1169710, 1172991, 1179641, 1191597, 1215258, 1222448, 1279644, 1294183, 1341339, 1368296, 1369909, 1371803, 1379791, 1387252, 1411526, 1417484, 1419419, 1420697, 1431195]),
       ...,
       list([16846, 39041, 40933, 59173, 91800, 102669, 108400, 144673, 146010, 146343, 153422, 154215, 154725, 161238, 164313, 173834, 175183, 194950, 205046, 209157, 211779, 233240, 291898, 292795, 306326, 317020, 317985, 322238, 324686, 326224, 327579, 329894, 331086, 343129, 347163, 348868, 350058, 373935, 374142, 377724, 402282, 414954, 420716, 423799, 423987, 428326, 436293, 439095, 439539, 441382, 449794, 461565, 461613, 466843, 468680, 469603, 470931, 481989, 482553, 485903, 490383, 505959, 524694, 532505, 532509, 537866, 561134, 593964, 599539, 600036, 600354, 603044, 610092, 610902, 619245, 621203, 628811, 629304, 634188, 635768, 646864, 672156, 672964, 680415, 684602, 698770, 700447, 703338, 703765, 705914, 706201, 707605, 708105, 714602, 740671, 740681, 744466, 749033, 760362, 760889, 766777, 767911, 770268, 773387, 773395, 777925, 779748, 792962, 795828, 798433, 811881, 820574, 821742, 824308, 824381, 825713, 826531, 826593, 830474, 836975, 839741, 843320, 845744, 855088, 857428, 861335, 862902, 863074, 864290, 866746, 866888, 874538, 875844, 875931, 876437, 876972, 878272, 880074, 885815, 894966, 897860, 899274, 900661, 902146, 904412, 905074, 910449, 913267, 914205, 914591, 915789, 920799, 920999, 922003, 927313, 929667, 932225, 936407, 940743, 942369, 942762, 943134, 946256, 959008, 961857, 962469, 965488, 970065, 977423, 978441, 978543, 983989, 989752, 996865, 997462, 997743, 1007264, 1008783, 1011282, 1013415, 1015476, 1026849, 1030232, 1033217, 1036562, 1040266, 1040357, 1040429, 1045916, 1048211, 1050306, 1052916, 1057268, 1057870, 1058669, 1060920, 1062513, 1065958, 1068170, 1068644, 1074453, 1078920, 1079754, 1081575, 1081961, 1084320, 1084820, 1087522, 1089946, 1094959, 1101115, 1106082, 1107510, 1112801, 1115932, 1118320, 1120041, 1123862, 1125723, 1126831, 1128320, 1128846, 1129346, 1129410, 1130870, 1136304, 1141577, 1145051, 1147647, 1149048, 1156801, 1160007, 1160200, 1160975, 1166072, 1169727, 1171649, 1172452, 1172865, 1174708, 1183315, 1183963, 1184520, 1185324, 1186721, 1190205, 1197449, 1198991, 1203185, 1203728, 1204305, 1205241, 1209440, 1210825, 1211352, 1212682, 1215343, 1219073, 1222322, 1231377, 1237961, 1245230, 1246964, 1249103, 1250335, 1250650, 1254508, 1257962, 1258933, 1260061, 1263801, 1265877, 1269314, 1270506, 1271148, 1275757, 1279376, 1279710, 1282667, 1286914, 1287834, 1287896, 1287933, 1289335, 1293010, 1296458, 1298656, 1299610, 1304255, 1305589, 1306120, 1307404, 1307640, 1309813, 1312031, 1312431, 1313333, 1313443, 1315579, 1319529, 1324060, 1324102, 1326842, 1327725, 1331964, 1339672, 1343575, 1345064, 1352872, 1354527, 1356594, 1359628, 1363369, 1365137, 1367308, 1368058, 1368120, 1368252, 1369042, 1389112, 1392096, 1400727, 1401554, 1401737, 1407865, 1412498, 1419567, 1427014, 1427070, 1430134, 1434011]),
       list([6911, 10903, 12188, 34614, 36736, 42176, 45052, 48863, 58890, 59169, 60575, 61522, 61679, 63857, 67767, 69560, 73987, 74955, 78355, 80793, 85279, 91032, 91416, 94197, 97762, 97941, 104014, 108609, 111801, 124360, 137648, 147171, 148654, 156604, 164847, 165154, 166896, 208514, 219328, 227982, 229416, 229680, 232458, 233320, 247128, 249409, 252984, 262237, 265817, 268708, 270708, 274043, 274298, 276927, 277825, 307765, 308996, 309068, 330108, 334749, 339409, 340974, 343396, 346950, 357494, 371450, 375908, 375941, 380809, 384018, 405486, 413822, 413857, 423158, 429553, 430915, 434442, 446039, 459234, 459583, 463504, 468140, 476412, 478078, 478814, 484382, 487480, 493383, 497635, 501356, 504277, 520355, 520880, 538222, 567114, 569871, 582860, 585146, 587364, 596226, 601394, 605841, 617089, 623618, 626955, 628320, 629801, 632250, 655761, 663781, 675047, 675200, 677876, 679410, 685492, 690318, 692669, 708505, 716968, 719348, 724833, 730638, 731210, 733951, 742587, 745020, 750396, 751777, 753365, 765583, 771175, 775666, 776458, 779929, 808386, 809929, 823619, 825903, 827716, 827958, 830448, 832950, 833488, 849868, 853075, 853697, 855018, 865253, 870533, 873442, 874319, 876871, 877742, 878326, 879940, 881357, 886780, 901234, 906696, 907835, 912954, 916109, 919205, 922524, 934211, 937610, 938459, 951748, 961768, 962520, 963411, 964593, 964674, 966966, 971401, 992849, 994521, 997619, 1017721, 1022494, 1027129, 1029098, 1040601, 1048128, 1049474, 1060310, 1066345, 1072567, 1072597, 1075340, 1082824, 1092083, 1093275, 1093643, 1095789, 1103713, 1110456, 1116213, 1119497, 1127889, 1128010, 1129003, 1130941, 1143075, 1150567, 1167162, 1167652, 1186144, 1193829, 1197620, 1205725, 1208886, 1210035, 1210107, 1220065, 1225069, 1230820, 1234018, 1238517, 1239827, 1241470, 1252840, 1258138, 1261588, 1266031, 1277076, 1282815, 1287506, 1289079, 1293359, 1293938, 1296094, 1300272, 1301471, 1301615, 1304225, 1308409, 1309637, 1312044, 1314012, 1321981, 1328629, 1329348, 1331181, 1344641, 1349437, 1372475, 1373603, 1386872, 1399996, 1421850]),
       list([16846, 39041, 40933, 59173, 91800, 102669, 108400, 144673, 146010, 146343, 153422, 154215, 154725, 161238, 164313, 173834, 175183, 194950, 205046, 209157, 211779, 233240, 291898, 292795, 306326, 317020, 317985, 322238, 324686, 326224, 327579, 329894, 331086, 343129, 347163, 348868, 350058, 373935, 374142, 377724, 402282, 414954, 420716, 423799, 423987, 428326, 436293, 439095, 439539, 441382, 449794, 461565, 461613, 466843, 468680, 469603, 470931, 481989, 482553, 485903, 490383, 505959, 524694, 532505, 532509, 537866, 561134, 593964, 599539, 600036, 600354, 603044, 610092, 610902, 619245, 621203, 628811, 629304, 634188, 635768, 646864, 672156, 672964, 680415, 684602, 698770, 700447, 703338, 703765, 705914, 706201, 707605, 708105, 714602, 740671, 740681, 744466, 749033, 760362, 760889, 766777, 767911, 770268, 773387, 773395, 777925, 779748, 792962, 795828, 798433, 811881, 820574, 821742, 824308, 824381, 825713, 826531, 826593, 830474, 836975, 839741, 843320, 845744, 855088, 857428, 861335, 862902, 863074, 864290, 866746, 866888, 874538, 875844, 875931, 876437, 876972, 878272, 880074, 885815, 894966, 897860, 899274, 900661, 902146, 904412, 905074, 910449, 913267, 914205, 914591, 915789, 920799, 920999, 922003, 927313, 929667, 932225, 936407, 940743, 942369, 942762, 943134, 946256, 959008, 961857, 962469, 965488, 970065, 977423, 978441, 978543, 983989, 989752, 996865, 997462, 997743, 1007264, 1008783, 1011282, 1013415, 1015476, 1026849, 1030232, 1033217, 1036562, 1040266, 1040357, 1040429, 1045916, 1048211, 1050306, 1052916, 1057268, 1057870, 1058669, 1060920, 1062513, 1065958, 1068170, 1068644, 1074453, 1078920, 1079754, 1081575, 1081961, 1084320, 1084820, 1087522, 1089946, 1094959, 1101115, 1106082, 1107510, 1112801, 1115932, 1118320, 1120041, 1123862, 1125723, 1126831, 1128320, 1128846, 1129346, 1129410, 1130870, 1136304, 1141577, 1145051, 1147647, 1149048, 1156801, 1160007, 1160200, 1160975, 1166072, 1169727, 1171649, 1172452, 1172865, 1174708, 1183315, 1183963, 1184520, 1185324, 1186721, 1190205, 1197449, 1198991, 1203185, 1203728, 1204305, 1205241, 1209440, 1210825, 1211352, 1212682, 1215343, 1219073, 1222322, 1231377, 1237961, 1245230, 1246964, 1249103, 1250335, 1250650, 1254508, 1257962, 1258933, 1260061, 1263801, 1265877, 1269314, 1270506, 1271148, 1275757, 1279376, 1279710, 1282667, 1286914, 1287834, 1287896, 1287933, 1289335, 1293010, 1296458, 1298656, 1299610, 1304255, 1305589, 1306120, 1307404, 1307640, 1309813, 1312031, 1312431, 1313333, 1313443, 1315579, 1319529, 1324060, 1324102, 1326842, 1327725, 1331964, 1339672, 1343575, 1345064, 1352872, 1354527, 1356594, 1359628, 1363369, 1365137, 1367308, 1368058, 1368120, 1368252, 1369042, 1389112, 1392096, 1400727, 1401554, 1401737, 1407865, 1412498, 1419567, 1427014, 1427070, 1430134, 1434011])],
      shape=(2119681,), dtype=object)

In [66]:
# Count the number of accidents near each station
accident_counts = [len(acc) for acc in accidents_near_station]

# Assign raw accident count to CitiBike stations
citibike_df["accident_count"] = accident_counts

In [71]:
# Group by station name and sum the accident count
top_risky_stations = citibike_df.groupby("start_station_name", as_index=False)["accident_count"].sum()

In [72]:
top_risky_stations

                start_station_name  accident_count
0                 1 Ave & E 110 St          318375
1                 1 Ave & E 118 St          409952
2                  1 Ave & E 16 St          801735
3                  1 Ave & E 18 St          974389
4                  1 Ave & E 30 St         1404586
...                            ...             ...
2149     Wyckoff Ave & Stanhope St          247065
2150            Wyckoff St & 3 Ave          161628
2151  Wythe Ave & Metropolitan Ave          427110
2152           Wythe Ave & N 13 St          208010
2153         Yankee Ferry Terminal               0

[2154 rows x 2 columns]

In [75]:
# Risk score is calculated by penalizing stations with more than 10 accidents.
# Each accident above 10 adds a penalty weight (default = 2) to the risk score.

In [73]:
# Define penalty weight per accident (adjustable)
penalty_weight = 2  # Each extra accident above 10 increases risk score

# Apply the formula
top_risky_stations["risk_score"] = (top_risky_stations["accident_count"] - 10) * penalty_weight
top_risky_stations["risk_score"] = top_risky_stations["risk_score"].clip(lower=0)  # No negative scores

In [74]:
top_risky_stations

                start_station_name  accident_count  risk_score
0                 1 Ave & E 110 St          318375      636730
1                 1 Ave & E 118 St          409952      819884
2                  1 Ave & E 16 St          801735     1603450
3                  1 Ave & E 18 St          974389     1948758
4                  1 Ave & E 30 St         1404586     2809152
...                            ...             ...         ...
2149     Wyckoff Ave & Stanhope St          247065      494110
2150            Wyckoff St & 3 Ave          161628      323236
2151  Wythe Ave & Metropolitan Ave          427110      854200
2152           Wythe Ave & N 13 St          208010      416000
2153         Yankee Ferry Terminal               0           0

[2154 rows x 3 columns]

risk score= max(accident count)−min(accident count) / max(accident count)−min(accident count)

In [76]:
from sklearn.preprocessing import MinMaxScaler

# Normalize the risk scores to a scale of 0 to 1 for better comparability
scaler = MinMaxScaler()
top_risky_stations["normalized_risk_score"] = scaler.fit_transform(top_risky_stations[["risk_score"]])

In [81]:
# Apply logarithmic transformation for better risk differentiation
top_risky_stations["log_risk_score"] = np.log1p(top_risky_stations["accident_count"])

In [82]:
top_risky_stations

,start_station_name,accident_count,risk_score,normalized_risk_score,log_risk_score
0,1 Ave & E 110 St,318375,636730,0.028814,12.670988
1,1 Ave & E 118 St,409952,819884,0.037102,12.923798
2,1 Ave & E 16 St,801735,1603450,0.072560,13.594535
3,1 Ave & E 18 St,974389,1948758,0.088186,13.789567
4,1 Ave & E 30 St,1404586,2809152,0.127121,14.155254
...,...,...,...,...,...
2149,Wyckoff Ave & Stanhope St,247065,494110,0.022360,12.417411
2150,Wyckoff St & 3 Ave,161628,323236,0.014627,11.993059
2151,Wythe Ave & Metropolitan Ave,427110,854200,0.038655,12.964799
2152,Wythe Ave & N 13 St,208010,416000,0.018825,12.245346
2153,Yankee Ferry Terminal,0,0,0.000000,0.000000

In [ ]:
# P(accident at station)= Accident count at station / Total accidents across all stations

In [83]:
# Compute total accidents across all CitiBike stations
total_accidents = top_risky_stations["accident_count"].sum()

# Compute probability of an accident at each station
top_risky_stations["accident_probability"] = top_risky_stations["accident_count"] / total_accidents

In [84]:
top_risky_stations

,start_station_name,accident_count,risk_score,normalized_risk_score,log_risk_score,accident_probability
0,1 Ave & E 110 St,318375,636730,0.028814,12.670988,0.000541
1,1 Ave & E 118 St,409952,819884,0.037102,12.923798,0.000697
2,1 Ave & E 16 St,801735,1603450,0.072560,13.594535,0.001363
3,1 Ave & E 18 St,974389,1948758,0.088186,13.789567,0.001656
4,1 Ave & E 30 St,1404586,2809152,0.127121,14.155254,0.002388
...,...,...,...,...,...,...
2149,Wyckoff Ave & Stanhope St,247065,494110,0.022360,12.417411,0.000420
2150,Wyckoff St & 3 Ave,161628,323236,0.014627,11.993059,0.000275
2151,Wythe Ave & Metropolitan Ave,427110,854200,0.038655,12.964799,0.000726
2152,Wythe Ave & N 13 St,208010,416000,0.018825,12.245346,0.000354
2153,Yankee Ferry Terminal,0,0,0.000000,0.000000,0.000000

In [86]:
top_risky_stations.sort_values(by=['normalized_risk_score'], ascending= False).head(10)

,start_station_name,accident_count,risk_score,normalized_risk_score,log_risk_score,accident_probability
38,11 Ave & W 41 St,11049108,22098196,1.000000,16.217860,0.018781
2006,W 41 St & 8 Ave,7339520,14679020,0.664263,15.808784,0.012476
1065,E 58 St & 3 Ave,5498808,10997596,0.497669,15.520042,0.009347
1972,W 21 St & 6 Ave,5473477,10946934,0.495377,15.515425,0.009304
1992,W 31 St & 7 Ave,5304838,10609656,0.480114,15.484130,0.009017
2010,W 43 St & 10 Ave,5290296,10580572,0.478798,15.481385,0.008992
668,Broadway & W 58 St,4518963,9037906,0.408988,15.323793,0.007681
447,8 Ave & W 38 St,4261928,8523836,0.385725,15.265232,0.007244
1284,Hanson Pl & Ashland Pl,3710630,7421240,0.335830,15.126713,0.006307
2014,W 45 St & 8 Ave,3681840,7363660,0.333224,15.118923,0.006258

In [88]:
# Merge the normalized risk scores into the CitiBike dataset
citibike_df = citibike_df.merge(
    top_risky_stations[["normalized_risk_score"]],
    on="start station name",
    how="left"
)

KeyError: 'start station name'

:

In [ ]:
# Fill NaN values (if a station has no recorded risk, assign 0)
citibike_df["normalized_risk_score"] = citibike_df["normalized_risk_score"].fillna(0)

# Display the updated CitiBike dataset
import ace_tools as tools
import pandas as pd

tools.display_dataframe_to_user(name="CitiBike Dataset with Risk Score", dataframe=pd.DataFrame(citibike_df))

# Step 2: Assign Risk Scores to CitiBike Stations

In [37]:
from scipy.spatial import cKDTree

# Convert CitiBike station coordinates to numpy array
station_coords = np.array(list(zip(citibike_features["start_lat"], citibike_features["start_lng"])))

# Use KDTree for fast spatial lookup
accident_tree = cKDTree(nypd_accidents[["LATITUDE", "LONGITUDE"]].values)

# Define search radius (100m = ~0.001 degrees)
search_radius = 0.001

# Count accidents near each CitiBike station
accident_counts = accident_tree.query_ball_point(station_coords, search_radius)

# Assign risk scores to stations
citibike_features["risk_score"] = [len(accidents) for accidents in accident_counts]

In [41]:
citibike_features["risk_score"].value_counts()

risk_score
0    2119681
Name: count, dtype: int64

In [ ]:
# Normalize risk scores (0 to 1)
citibike_stations["risk_score"] = citibike_stations["risk_score"] / citibike_stations["risk_score"].max()

# Merge risk scores with CitiBike dataset
citibike_df = citibike_df.merge(
    citibike_stations[["start_station_name", "risk_score"]],
    on="start_station_name",
    how="left"
)

In [1]:
pip install pygwalker

Collecting pygwalker
  Downloading pygwalker-0.4.9.13-py3-none-any.whl.metadata (20 kB)
Collecting anywidget (from pygwalker)
  Downloading anywidget-0.9.13-py3-none-any.whl.metadata (7.2 kB)
Collecting appdirs (from pygwalker)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Collecting arrow (from pygwalker)
  Using cached arrow-1.3.0-py3-none-any.whl.metadata (7.5 kB)
Collecting astor (from pygwalker)
  Downloading astor-0.8.1-py2.py3-none-any.whl.metadata (4.2 kB)
Collecting cachetools (from pygwalker)
  Using cached cachetools-5.5.1-py3-none-any.whl.metadata (5.4 kB)
Collecting duckdb<2.0.0,>=0.10.1 (from pygwalker)
  Downloading duckdb-1.2.0-cp312-cp312-macosx_12_0_arm64.whl.metadata (966 bytes)
Collecting gw-dsl-parser==0.1.49.1 (from pygwalker)
  Downloading gw_dsl_parser-0.1.49.1-py3-none-any.whl.metadata (1.2 kB)
Collecting ipylab<=1.0.0 (from pygwalker)
  Downloading ipylab-1.0.0-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: ipython in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (8.32.0)
Collecting ipywidgets (from pygwalker)
  Downloading ipywidgets-8.1.5-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: jinja2 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (3.1.5)
Collecting kanaries-track==0.0.5 (from pygwalker)
  Downloading kanaries_track-0.0.5-py3-none-any.whl.metadata (913 bytes)
Collecting numpy<2.0.0 (from pygwalker)
  Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
Requirement already satisfied: packaging in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (24.2)
Requirement already satisfied: pandas in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (2.2.3)
Requirement already satisfied: psutil in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (7.0.0)
Collecting pyarrow (from pygwalker)
  Using cached pyarrow-19.0.1-cp312-cp312-macosx_12_0_arm64.whl.metadata (3.3 kB)
Collecting pydantic (from pygwalker)
  Using cached pydantic-2.10.6-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: pytz in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (2025.1)
Collecting quickjs (from pygwalker)
  Downloading quickjs-1.19.4-cp312-cp312-macosx_10_9_universal2.whl.metadata (590 bytes)
Requirement already satisfied: requests in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (2.32.3)
Collecting segment-analytics-python==2.2.3 (from pygwalker)
  Downloading segment_analytics_python-2.2.3-py2.py3-none-any.whl.metadata (1.6 kB)
Collecting sqlalchemy (from pygwalker)
  Downloading SQLAlchemy-2.0.38-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting sqlglot>=23.15.8 (from pygwalker)
  Downloading sqlglot-26.6.0-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: traitlets in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pygwalker) (5.14.3)
Collecting typing-extensions (from pygwalker)
  Using cached typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting wasmtime>=12.0.0 (from gw-dsl-parser==0.1.49.1->pygwalker)
  Downloading wasmtime-30.0.0-py3-none-macosx_11_0_arm64.whl.metadata (7.8 kB)
Collecting backoff>=2.2.1 (from kanaries-track==0.0.5->pygwalker)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Collecting dateutils>=0.6.12 (from kanaries-track==0.0.5->pygwalker)
  Downloading dateutils-0.6.12-py2.py3-none-any.whl.metadata (1.3 kB)
Collecting monotonic~=1.5 (from segment-analytics-python==2.2.3->pygwalker)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: python-dateutil~=2.2 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from segment-analytics-python==2.2.3->pygwalker) (2.9.0.post0)
Requirement already satisfied: comm>=0.1.3 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipywidgets->pygwalker) (0.2.2)
Collecting widgetsnbextension~=4.0.12 (from ipywidgets->pygwalker)
  Downloading widgetsnbextension-4.0.13-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab-widgets~=3.0.12 (from ipywidgets->pygwalker)
  Downloading jupyterlab_widgets-3.0.13-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: decorator in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (2.19.1)
Requirement already satisfied: stack_data in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from ipython->pygwalker) (0.6.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from requests->pygwalker) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from requests->pygwalker) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from requests->pygwalker) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from requests->pygwalker) (2025.1.31)
Collecting psygnal>=0.8.1 (from anywidget->pygwalker)
  Downloading psygnal-0.12.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (7.7 kB)
Collecting types-python-dateutil>=2.8.10 (from arrow->pygwalker)
  Using cached types_python_dateutil-2.9.0.20241206-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from jinja2->pygwalker) (3.0.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pandas->pygwalker) (2025.1)
Collecting annotated-types>=0.6.0 (from pydantic->pygwalker)
  Using cached annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.27.2 (from pydantic->pygwalker)
  Using cached pydantic_core-2.27.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from jedi>=0.16->ipython->pygwalker) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->pygwalker) (0.7.0)
Requirement already satisfied: wcwidth in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->pygwalker) (0.2.13)
Requirement already satisfied: six>=1.5 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from python-dateutil~=2.2->segment-analytics-python==2.2.3->pygwalker) (1.17.0)
Collecting importlib_resources>=5.10 (from wasmtime>=12.0.0->gw-dsl-parser==0.1.49.1->pygwalker)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: executing>=1.2.0 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from stack_data->ipython->pygwalker) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from stack_data->ipython->pygwalker) (3.0.0)
Requirement already satisfied: pure-eval in /Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/.venv/lib/python3.12/site-packages (from stack_data->ipython->pygwalker) (0.2.3)
Downloading pygwalker-0.4.9.13-py3-none-any.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 12.3 MB/s eta 0:00:00a 0:00:01
Downloading gw_dsl_parser-0.1.49.1-py3-none-any.whl (956 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 956.2/956.2 kB 12.8 MB/s eta 0:00:00
Downloading kanaries_track-0.0.5-py3-none-any.whl (8.6 kB)
Downloading segment_analytics_python-2.2.3-py2.py3-none-any.whl (24 kB)
Downloading duckdb-1.2.0-cp312-cp312-macosx_12_0_arm64.whl (15.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 13.2 MB/s eta 0:00:00a 0:00:01
Downloading ipylab-1.0.0-py3-none-any.whl (100 kB)
Downloading ipywidgets-8.1.5-py3-none-any.whl (139 kB)
Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
Downloading sqlglot-26.6.0-py3-none-any.whl (447 kB)
Downloading anywidget-0.9.13-py3-none-any.whl (213 kB)
Using cached typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Using cached arrow-1.3.0-py3-none-any.whl (66 kB)
Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Using cached cachetools-5.5.1-py3-none-any.whl (9.5 kB)
Using cached pyarrow-19.0.1-cp312-cp312-macosx_12_0_arm64.whl (30.7 MB)
Using cached pydantic-2.10.6-py3-none-any.whl (431 kB)
Using cached pydantic_core-2.27.2-cp312-cp312-macosx_11_0_arm64.whl (1.8 MB)
Downloading quickjs-1.19.4-cp312-cp312-macosx_10_9_universal2.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 12.5 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.38-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 12.6 MB/s eta 0:00:00
Using cached annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading dateutils-0.6.12-py2.py3-none-any.whl (5.7 kB)
Downloading jupyterlab_widgets-3.0.13-py3-none-any.whl (214 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Downloading psygnal-0.12.0-cp312-cp312-macosx_11_0_arm64.whl (426 kB)
Using cached types_python_dateutil-2.9.0.20241206-py3-none-any.whl (14 kB)
Downloading wasmtime-30.0.0-py3-none-macosx_11_0_arm64.whl (6.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 5.8 MB/s eta 0:00:0000:0100:01
Downloading widgetsnbextension-4.0.13-py3-none-any.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 12.6 MB/s eta 0:00:00
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Installing collected packages: quickjs, monotonic, appdirs, widgetsnbextension, typing-extensions, types-python-dateutil, sqlglot, pyarrow, psygnal, numpy, jupyterlab-widgets, importlib_resources, duckdb, cachetools, backoff, astor, annotated-types, wasmtime, sqlalchemy, segment-analytics-python, pydantic-core, dateutils, arrow, pydantic, kanaries-track, ipywidgets, gw-dsl-parser, ipylab, anywidget, pygwalker
  Attempting uninstall: numpy
    Found existing installation: numpy 2.2.3
    Uninstalling numpy-2.2.3:
      Successfully uninstalled numpy-2.2.3
Successfully installed annotated-types-0.7.0 anywidget-0.9.13 appdirs-1.4.4 arrow-1.3.0 astor-0.8.1 backoff-2.2.1 cachetools-5.5.1 dateutils-0.6.12 duckdb-1.2.0 gw-dsl-parser-0.1.49.1 importlib_resources-6.5.2 ipylab-1.0.0 ipywidgets-8.1.5 jupyterlab-widgets-3.0.13 kanaries-track-0.0.5 monotonic-1.6 numpy-1.26.4 psygnal-0.12.0 pyarrow-19.0.1 pydantic-2.10.6 pydantic-core-2.27.2 pygwalker-0.4.9.13 quickjs-1.19.4 segment-analytics-python-2.2.3 sqlalchemy-2.0.38 sqlglot-26.6.0 types-python-dateutil-2.9.0.20241206 typing-extensions-4.12.2 wasmtime-30.0.0 widgetsnbextension-4.0.13
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import json

# Load station data
citybikes_data = pd.read_csv('/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/model_data/model_data.csv')
citybikes_data.columns

/var/folders/tw/yc01l_99601d14ks8nxwg1dr0000gn/T/ipykernel_18148/3250787612.py:5: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  citybikes_data = pd.read_csv('/Users/shashankhmg/Documents/AXA-Casestudy/Data-Science-Challenge/data/model_data/model_data.csv')

Index(['Unnamed: 0', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'accident_count', 'normalized_risk_score',
       'risk_level'],
      dtype='object')

In [2]:
# Create a dictionary mapping station names to all relevant info
station_dict = {}
for _, row in citybikes_data.iterrows():
    station_dict[row["start_station_name"]] = {
        "start_station_id": row["start_station_id"],
        "start_lat": row["start_lat"],
        "start_lng": row["start_lng"],
        "normalized_risk_score": row["normalized_risk_score"]
    }

# Save to JSON
with open("station_data.json", "w") as f:
    json.dump(station_dict, f, indent=4)